// App-wide colors
$col-dark-blue: #26307A;
$col-blue: #727DD4;
$col-light-blue: #B2B7EA;
$col-very-light-blue: #E1E2F6;
/*$col-pink: #FF02AF;*/
/*$col-grey: #707070;*/


$col-dark-grey: #505050;
$col-med-grey: #b3b3b3;
$col-light-grey: #F7F7F7;

$col-green: #12d678;
$col-purple: #DD5DEB;

$col-pink: #FF4390;
$col-light-pink: #FF8EBC;
$col-dark-pink: #B21D5A;
$col-yellow: #FFF05D;
$col-light-yellow: #FFF69E;
$col-blue: #22AFCC;
$col-light-blue: #7ACFE0;
$col-very-light-blue: #BDE7F0;
$col-dark-blue: #269AB2;
$col-purple: rgb(103, 4, 205);


// Bootstrap navbar variables:
$navbar-height: 82px;
$navbar-margin-bottom: 0px;


// Bootstrap variables:
/*$link-color: $omx-blue;*/
/*$grid-float-breakpoint: 500px;*/
/*$font-family-base: 'Varela Round', sans-serif;*/

/*$navbar-default-link-color: $omx-black;*/
/*$navbar-default-bg: #fff;*/
/*$navbar-default-link-hover-color: #353535;*/
/*$navbar-default-link-hover-bg: #fff;*/
/*$navbar-default-link-active-color: $omx-blue;*/
/*$navbar-default-link-active-bg: #fff;*/

// Bootstrap breakpoints
/*$screen-xs-min:  480px;*/
/*$screen-xs-max:  767px;*/
/*$screen-sm-min:  768px;*/
/*$screen-sm-max:  991px;*/
/*$screen-md-min:  992px;*/
/*$screen-md-max:  1199px;*/
/*$screen-lg-min: 1200px;*/

// Other variables
$panel-padding: 75px;
$mobile-panel-padding: 35px;
$action-btn-margin: 15px;
