
.goal-container {
  position: relative;
  width: 816px;
  margin-right: auto;
  margin-left: auto;
  /*max-width: 816px;*/
  /*margin: 0px 100px;*/
  /*min-width: calc(100% - 200px);*/
}

svg#sp-banner {
  height: 623px;
  width: 1520px;
}


#service-provider-banner-image {
  position: absolute;
  right: -300px;
  z-index: 0;
}

#goals-overview-page {
  .header {
    height: 337px;
    width: 476px;
    margin-left: 68px;
    padding-top: 158px;

    h1{
      color: white;
      margin-top: 0;
      font-size: 45px;
      z-index: 10;
      position: relative;
    }
  }

  .goals-intro {
    width: 516px;
    height: 286px;
    p {
      font-size: 16px;
      padding: 68px;
    }
  }
}

#goals-listing {
  background: #4F4C8A;
  color: white;
  padding-top: 68px;
  overflow: hidden;
  padding-top: 136px;
  padding-bottom: 136px;

  .goal-container {
    padding-left: 68px;
    padding-right: 68px;
  }

  ol {
    padding-left: 14px;
    position: relative;
    z-index: 10;
  }

  h3 {
    text-transform: uppercase;
    position: relative;
    z-index: 10;
  }

  .goal {
    position: relative;
    .bar {
      width: 15px;
      height: 70px;
      background: #DF624D;
      z-index: 1;
      position: absolute;
      top: -28px;
      left: -3px;
    }
    .bar.two {left: 20px;}
    .bar.three {left: 45px;}
    .bar.four {left: 55px;}
  }

  .left-col {
    width: 272px;
    float: left;
    margin-right: 68px;

    .goal {
      margin-top: 136px;
    }
  }

  .right-col {
    width: 272px;
    float: left;
    margin-left: 68px;
    .goal {
      margin-top: 272px;
    }
  }

  .single-col {
    .goal {margin-top: 136px;}
  }
}

svg#sp-cta {
  width: 687px;
  height: 393px;
  top: -50px;
  position: absolute;
}

svg#cc-banner {
  width: 1520px;
  height: 624px;
  top: -50px;
}

svg#cc-cta {
  width: 825px;
  height: 343px;
  top: -50px;
  position: absolute;
  left: -200px;
}

svg#tc-banner {
  width: 1520px;
  height: 733px;
  top: -50px;
}

svg#tc-cta {
  width: 388px;
  height: 350px;
  top: -50px;
  position: absolute;
  left: -68px;
}


#goals-call-to-action {
  overflow: hidden;
  position: relative;
  .goal-container {
    padding-top: 204px;
    padding-bottom: 204px;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
  }

  .left-col {
    margin-left: 68px;
    float: left;
    width: 408px;
    margin-right: 68px;
    position: relative;
    z-index: 10;
    p {
      font-size: 18px;
    }
  }

  .right-col {
    width: 272px;
    position: relative;
    float: left;
    height: 456px;
    z-index: 0;
  }

}

#service-provider-banner-image {

}


#goal-page-community {
  /*#goals-listing {*/
    /*background: #DF624D;*/
  /*}*/

  /*.goal .bar {*/
    /*background: #FCECD6;*/
  /*}*/
}
