$home-center-width: 545px;

#home-header {
  position: relative;
  margin: 0 !important;
  width: 100%;
  padding: 0 !important;
}

#home-banner-container {
  width: $home-center-width;
  left: -625px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}

svg#svg-home-banner {
  position: absolute;
  height: 903px;
  width: 1691px;
  left: 0;
  top: 0;
  z-index: 0;

}

.panel, .overflow-panel {
  z-index: 10;
  position: relative;
  background: transparent;
}

#home-header-text {
  z-index: 10;
  text-align: center;
  color: white;
  overflow: hidden;
  margin-top: 0;
  padding-top: 270px;
  margin-left: auto;
  margin-right: auto;
  width:  $home-center-width;

  h1 {
    font-weight: bold;
    margin-bottom: 0;
  }
}

#intro-homepage {
  /*background: $col-purple;*/
  color: black;
  padding-top: 550px;

  p {
    max-width: 500px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

#home-goals-panel {

  ul#goals-list {
    padding-left: 0;
    list-style: none;

    li.goal {
      display: block;

      .content {
        /*margin: 20px;*/
        /*padding: 20px;*/
      }
    }
  }

}
