$home-center-width: 545px;

#home-header {
  position: relative;
  margin: 0 !important;
  width: 100%;
  padding: 0 !important;
}

#home-banner-container {
  width: $home-center-width;
  left: -625px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}

svg#svg-home-banner {
  position: absolute;
  height: 903px;
  width: 1691px;
  left: 0;
  top: 0;
  z-index: 0;

}

.panel, .overflow-panel {
  z-index: 10;
  position: relative;
  background: transparent;
}

#home-header-text {
  z-index: 10;
  text-align: center;
  color: white;
  overflow: hidden;
  margin-top: 0;
  padding-top: 270px;
  margin-left: auto;
  margin-right: auto;
  width:  $home-center-width;

  h1 {
    font-weight: bold;
    margin-bottom: 0;
  }
}

#intro-homepage {
  color: black;
  padding-top: 350px;

  p {
    max-width: 700px;
    padding-left: 200px;
    padding-right: 25px;
  }
}

#home-intro-lines-container {
  width: 545px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  z-index: 10;
  position: relative;
}

svg#home-intro-lines {
  width: 268px;
  height: 87px;
  position: absolute;
  left: -196px;
  top: 20px;
}


#home-goals-intro-panel {
  color: white;
  margin-top: 80px;

  .container {
    position: relative;
    max-width: 800px;
  }

  h2 {
    position: absolute;
    z-index: 10;
    padding: 50px;
    display: block;
    width: 200px;
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    padding-right: 0;
  }

  #home-goals-background {
    height: 100%;
    background: #6f7b74;
    width: 866px;
    position: absolute;
    z-index: 0;
    top: 0;
  }

  p {
    color: white;
    font-size: 18px;
    position: relative;
    /*max-width: 700px;*/
    padding: 50px;
    padding-left: 250px;
  }
}

svg#service-provider-home-img {
  width: 620px;
  height: 342px;
  top: -68px;
}

svg#home-tech-community-img {
  width: 408px;
  height: 448px;
  top: -68px;
}

svg#home-celebration-community-img {
  width:720px;
  height: 401px;
  top: -136px;
}

.home-goals-panel {
  margin-top: 204px;
  max-width: 816px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 342px;

  .img-container {
    width: 620px;
    position: absolute;
    z-index: 1;

    svg {
      position: absolute;
    }
  }

  .text-container {
    margin: 0;
    z-index: 10;
    position: relative;
    width: 340px; 
  }

  &.left {
    .img-container  {
      right: 408px;
      svg {right: 0}
    }

    .text-container {
      margin-left: auto;
    }
  }

  &.right {
    .img-container  {
      left: 408px;
      svg {left: 0}
      
    }

    .text-container {
      margin-right: auto;
    }
  }

}


#celebration-community-panel.home-goals-panel  {
  margin-top: 68px;
}

#tech-community-panel.home-goals-panel  {
  margin-top: 136px;
}


#home-action-panel {
  margin-top: 204px;
  background: #4F4C8A;
  color: white;
  padding-top: 68px;
  padding-bottom: 68px;
  overflow: hidden;

  h3 {
    text-transform: uppercase;
  }

  a, a:visited, a:hover, a:focus {
    text-decoration: none;
    color: white;
  }

  p {margin-top: 20px;}

  .content {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .left-col {
    padding-right: 68px;
    right: 408px;
    position: absolute;

    h3 {
      margin-top: 0;
      text-align: right;
    }
  }
  .right-col {
    margin-left: 272px;
  }

  .actions .col {
    width: 50%;
    float: left;
    h3 {font-size: 18px;}

    &:first-child {
      padding-right: 10px;
    }
    &:last-child {
      padding-left: 10px;
    }
  }

}





